extends layout

block content
	form(method="post")
		input(type="text" name="name")
		input(type="submit" value="Post!")
	table(border=1)
		- each post in posts
			tr
				td= post.id
				td= post.created_at
			tr
				td(colspan=2)= post.response
