<!doctype html>
<html lang="ja">
<head>
  <title>BBS</title>
  <meta charset="utf-8">
</head>
<body>
  <form method="post">
  <input type="text" name="name">
  <input type="submit" value="Post!">
  <table border=1>
	<% for (var i = 0; i < posts.length; i++) { %>
	<tr>
	<td><%= posts[i].id %></td>
	<td><%= posts[i].create_at %></td>
	</tr>
	<tr><td colspan=2><%= posts[i].response %></td></tr>
	<% } %>
  </table>
</body>
</html>
