extends ../layout

block body
  form(method="post")
    div(class="container")
      input(type="text" name="contribution")
      input(type="submit" class="btn btn-primary img-responsive" value="Post!")
    div(class="container")
      div(class="table-responsive")
      table(class="table table-striped table-bordered")
        - if(posts.length)
          - each post in posts
            tr
              td= post.id
              td= post.createdAt
            tr
              td(colspan=2)= post.response
        - else
          p(class="bg-warning") データがありません
